{% extends "base.html" %}
{% load static %}

    {% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/includes/challenge.css" %}">
    <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
    {% endblock %}

    {% block title %}
    {{month|title}}'s Challenge
    {% endblock %}

    {% block body_content %}
        {% include "challenges/includes/header.html" %}

        <h1>{{ month|title }}'s Challenge...</h1>
        {%if text == none %}
            <h2>{{ month|title }} currently does not have a challenge.</h2>
        {% else %}
            <h2>{{ text }}</h2>
        {% endif %}
    {% endblock %}
